<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iamdevnoel's Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Blog iamdevnoel</a></h1>
    </div>


    {% for post in posts %}
        <div>
            <br>
    
            <h2 style="display: inline-block;"><a href="">{{post.title}}</a></h2>
            <p style="display: inline-block;">published: {{post.published_date}}</p>
    
            <p>{{post.text|linebreaks}}</p>
        </div>
    {% endfor %}
</body>
</html>